mixin b-header()
	+b.HEADER.header
		.container
			+e.row
				+e.col_1
					+b.A(href="/").logo
						+e.IMG(src="/img/logo.png").img
					//
						+e.row
							+e.SPAN.col_1
								+e.IMG.img(src="/img/logo-graphik.png")
							+e.SPAN.col_2 POL
							+e.SPAN.col_3 CHANGE

					+b.btn_nav-main-toggle.fa.fa-bars#btn_nav-main-toggle
				+e.col_2
					+b.A(href="/contests").banner_header
						+e.IMG(src="/img/banner/header-banner-1.gif").img
					+b.A(href="/contests").banner_header
						+e.IMG(src="/img/banner/header-banner-2.gif").img
				+e.col_3
					//+e.auth
						+e.SPAN.text_auth Вы вошли как: 
						+e.SPAN.text_user Андрей 
						+b.A.btn_exit(href="auth.php?action=exit") Выйти

					+b.BUTTON.btn_login#btn_login
					+b.BUTTON.btn_reg#btn_reg