mixin b-info-change_table
	+b.info-change_table
		+e.A(href="#").link_name Шахта
		+e.SPAN.protocol HTTPS
		+e.box
			+e.item
				+e.col_1 WebMoney BL:
				+e.col_2
					+e.A.link(href="") 	3311
			+e.item
				+e.col_1 Perfect Money TS:
				+e.col_2 -
			+e.item
				+e.col_1 Сумма резервов:
				+e.col_2 $42 555
			+e.item
				+e.col_1 Возраст
				+e.col_2 5 лет и 4 месяца
			+e.item
				+e.col_1 Страна
				+e.col_2 
					+e.I.icon.flag-RU Россия 