mixin b-modal_history
	+b.modal_history#modal_history
		+e.box
			+e.close.fa.fa-times
			+e.content
				+b.text-box
					+e.H3.title История переходов на обменные пункты
					+e.P.text Здесь приведен список произведенных вами ранее переходов на обменные пункты. Показан курс обмена и резерв валюты на момент совершения перехода с мониторинга на обменный пункт.
				+e.box-scroll
					+b.TABLE.table_modal-history(class="_striped")
						+e.THEAD.title
							+e.THEAD.head
								+e.TR.row
									+e.TH.col_title Дата
									+e.TH.col_title Обменник
									+e.TH.col_title Направление и курс обмена
									+e.TH.col_title Резерв
							+e.TBODY.body
								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate 
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span.currency RUB QIWI 
											b 1
											span.currency LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate 
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span.currency RUB QIWI 
											b 1
											span.currency LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate 
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span.currency RUB QIWI 
											b 1
											span.currency LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate 
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span.currency RUB QIWI 
											b 1
											span.currency LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate 
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span RUB QIWI 
											b 1
											span LTC
									+e.TD.col_reserve 8888

								+e.TR.row
									+e.TD.col_date 20.05, 21:00
									+e.TD.col_exchanger
										+e.A.link(href="#") 24 обменник
									+e.TD.col_rate
										+e.A.link(href="")
											b 8'773
											span.currency RUB QIWI 
											b 1
											span.currency LTC
									+e.TD.col_reserve 8888


mixin b-modal_setings
	+b.modal_setings#modal_settings
		+e.box
			+e.close.fa.fa-times
			+e.content
				+b.text-box
					+e.H3.title Персональные настройки
					+e.P.text Здесь вы можете произвести некоторые настройки сайта BestChange.ru. Данные параметры будут храниться в cookies вашего браузера. При посещении сайта с другого компьютера или браузера вам будет необходимо сохранить эти настройки заново.
				
				+b.FORM(action="script.php?action=settings").form_modal-settings#form_modal-settings
					+e.item
						+e.name Обновление:
						+e.SELECT.select(name='time_up')
							+e.OPTION.option(value='15', selected='selected') через 15 секунд
							+e.OPTION.option(value='30') через 30 секунд
							+e.OPTION.option(value='45') через 45 секунд
							+e.OPTION.option(value='60') через минуту
							+e.OPTION.option(value='120') через 2 минуты
							+e.OPTION.option(value='180') через 3 минуты
							+e.OPTION.option(value='300') через 5 минут
							+e.OPTION.option(value='0') не обновлять
						+e.P.text Периодичность автообновления курсов в таблице

					+e.item
						+e.name Дробных знаков:
						+e.SELECT.select(name='count_char')
							+e.OPTION.option(value='0', selected='selected') нет
							+e.OPTION.option(value='2') 2
							+e.OPTION.option(value='4') 4
							+e.OPTION.option(value='6') 6
							+e.OPTION.option(value='8') 8
						+e.P.text Число знаков в дробной части числа

					+e.item
						+e.name Разд-ль целой части:
						+e.SELECT.select(name='separator')
							+e.OPTION.option(value='1', selected='selected') точка .
							+e.OPTION.option(value='2')  запятая ,
						+e.P.text Символ между целой и дробной частью числа

					+e.item
						+e.name Разд-ль разрядов:
						+e.SELECT.select(name='separator_row')
							+e.OPTION.option(value='1', selected='selected') ,(запятая)
							+e.OPTION.option(value='2') пробел
							+e.OPTION.option(value='3') `(апостроф)
						+e.P.text Символ, разделяющий группы цифр в целой части

					+e.item
						+e.name Шрифт сайта:
						+e.SELECT.select(name='font_family')
							+e.OPTION.option(value='1', selected='selected') Arial
							+e.OPTION.option(value='2') Tahoma
							+e.OPTION.option(value='3') Verdana
						+e.P.text Используемый шрифт для всего сайта

					+e.item
						+e.name Выделение курсов:
						+e.SELECT.select(name='font_style')
							+e.OPTION.option(value='1', selected='selected') полужирным
							+e.OPTION.option(value='2') не выделять
						+e.P.text Выделение числовых значений курсов в таблице
					+b.P.notice_success Настройки сохранены
					+b.P.notice_error Настройки не сохранены
					+e.INPUT(type="submit" value="Cохранить настройки").btn-send

mixin b-modal_login
	+b.modal_login#modal_login
		+e.box
			+e.close.fa.fa-times
			+e.content
				+b-form_login()


mixin b-modal_reg
	+b.modal_reg#modal_reg
		+e.box
			+e.close.fa.fa-times
			+e.content
				+b-form_reg()