extends ../../layout/root
block title 
	title Doc title
block meta_k 
	meta(name="keywords" content="meta_k .........text")
block meta_d 
	meta(name="description" content="meta_d ......text")

block main
		.container
			+b.content
				+e.col_1
					+b-sidebar_left-2()

				+e.col_2
					+b.MAIN.main
						// nav
						+b-nav_main()
						+b.text-box
							+e.H1.title Как привлекать посетителей
							+e.P.text Здесь мы расскажем о всех доступных способах рекламирования партнерской ссылки и получения качественного оплачиваемого трафика.

							+b.UL.list-box_attract
								+e.LI.item_title Использование своего сайта (в том числе блога)
									+e.UL.list
										+e.LI.item размещение статьи о BestChange;
										+e.LI.item размещение нашего рекламного баннера;
										+e.LI.item размещение текстовых рекламных материалов.

								+e.LI.item_title Реклама при помощи Youtube
									+e.UL.list
										+e.LI.item запись и размещение собственного видео-обзора о сервисе (с указанием партнерской ссылки в описании под видео);
										+e.LI.item выкладка наших официальных видео-роликов к себе на канал;
										+e.LI.item комментирование тематических видео-роликов (обмен валюты в Интернет, обменные пункты, мониторинг обменных пунктов, денежные переводы, различные платежные системы и т.д.) с указанием своей партнерской ссылки. Комментирование нетематических видео-роликов является спамом, что в нашей партнерской программе наказывается блокировкой партнерского аккаунта.

								+e.LI.item_title Использование социальных сетей
									+e.UL.list
										+e.LI.item размещение партнерской ссылки в своей группе;
										+e.LI.item размещение партнерской ссылки на личной странице;
										+e.LI.item комментирование тематических групп, видео-роликов, постов и т.д.;
										+e.LI.item запись и выкладка своих видео-роликов в альбом;
										+e.LI.item размещение наших официальных видео-роликов в альбом.

								+e.LI.item_title Комментирование тематических сайтов/блогов
								+e.LI.item Вы можете оставлять комментарии к тематическим статьям на сайтах/блогах. Чем органичнее впишется Ваш комментарий, тем больше вероятность, что модератор одобрит его. Наоборот, бездумное размещение постов с партнерской ссылкой вряд ли принесет пользу, такие комментарии скорее всего будут удалены.

								+e.LI.item_title Общение на форумах
									+e.UL.list
										+e.LI.item создание новой темы на форуме;
										+e.LI.item ответы в тематических ветках;
										+e.LI.item указание партнерской ссылки в подписях своих сообщений.

								+e.LI.item_title Использование сервисов вопросов и ответов
								+e.LI.item 
									+e.P.text Поиск тематических вопросов и ответы на них с указанием своей партнерской ссылки. Важно: советуем использовать сервис укорачивания ссылок <a target="_blank" href="https://goo.gl/">goo.gl</a>.

									+e.P.text В целом главное, чтобы реклама нашего сервиса выглядела естественно, чтобы информация партнера действительно была к месту и помогала нам найти заинтересованных в нашем сайте пользователей. В противоположность этому спам, то есть массовое размещение материалов на различных Интернет-ресурсах, которые не относятся к нашей сфере деятельности, или постоянная навязчивая реклама – строго запрещены.

									+e.P.text Другие запрещенные способы рекламирования партнерской ссылки указаны на странице <a  target="_blank"  href="/partner/rules.html">правил</a>.