extends ../../layout/root
block title 
	title Doc title
block meta_k 
	meta(name="keywords" content="meta_k .........text")
block meta_d 
	meta(name="description" content="meta_d ......text")

block main
		.container
			+b.content
				+e.col_1
					+b-sidebar_left-2()

				+e.col_2
					+b.MAIN.main
						// nav
						+b-nav_main()
						+b.text-box
							+e.H1.title FAQ по партнерской программе

							+b.toggler-more-info_partner
								+e.item
									+e.row_1
										+e.btn-toggle Как работает партнерская программа?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle Зарегистрировавшись в нашей партнерской программе, Вы получаете уникальный партнерский идентификатор <b>(?p=9784)</b>, который добавляется во все Ваши ссылки и в HTML-код. Вы можете размещать ссылки на любые страницы сервиса PolChange.ru на своем сайте, блоге, страничке, в сообществах и социальных сетях. Когда привлеченный рекламой посетитель кликает по Вашей партнерской ссылке и переходит к нам, система запоминает его и автоматически регистрирует, как привлеченного Вами посетителя (это означает, что клиент пришел именно от Вас). После того как посетитель начинает пользоваться сайтом, Вам начисляются партнерские вознаграждения. Вознаграждения будут "капать" на Ваш счет, даже если Вы не будете больше ничего делать – и это навсегда. Вы всегда сможете увидеть начисленные средства на своем счете в Вашем партнерском аккаунте, а также запросить их вывод (ограничиваясь лишь минимальным лимитом).

								+e.item
									+e.row_1
										+e.btn-toggle Я недавний пользователь ПК. Подскажите, как скопировать промо-материалы на мой сайт?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Прежде всего, найдите необходимый Вам HTML-код в текстовом поле на страницах <a target="_blank" href="/partner/text">Текстовые материалы</a>, которые находятся в Вашем аккаунте. Этот код необходимо скопировать и вставить в исходный HTML-код Вашего сайта.

											P Чтобы скопировать код, выделите все содержание текстового поля, нажав кнопкой мыши в любом месте текстового поля. После выбора кода все содержание текстового поля будет выделено синим цветом.

											P Затем в браузере в меню "Правка" выберите команду "Копировать", чтобы скопировать выделенный код. Если вы не хотите сразу же вставлять код в исходный HTML-код своего сайта, его можно вставить в другое приложение (например, в Блокнот).

											P Теперь рассмотрим вставку кода в исходный HTML-код Вашего сайта.
											P Для показа промо-материалов на своем веб-сайте очень важно скопировать рекламный код в том виде, в котором он отображается на страницах в Вашем аккаунте, и вставить его непосредственно в исходный HTML-код своих веб-страниц без каких-либо изменений. Изменение рекламного кода может привести к ошибкам на Вашей странице.
											P После копирования кода вернитесь к рабочему столу и откройте HTML-редактор. Открыв исходный HTML-код, выберите место, в которое нужно вставить свой рекламный код, после чего выберите "Вставить" в меню "Правка".
											P После добавления кода на веб-страницу(ы) следует сохранить изменения и загрузить или опубликовать обновленные страницы на сервере. При возникновении проблем с загрузкой страниц на сервер свяжитесь с поставщиком услуг веб-хостинга.
											P При правильном добавлении кода промо-материал(ы) на Вашем сайте должны появиться сразу.

								+e.item
									+e.row_1
										+e.btn-toggle Для размещения баннера мне нужен URL изображения. Как его получить?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Вы можете скачать файл баннера и разместить его на своем сайте – так баннеры будут быстрее загружаться. Загрузить файл можно нажав на ссылку "Скачать баннер", которая находится под кодом интересующего Вас баннера.
											P Если же Вам нужен адрес изображения для загрузки именно с нашего сайта, вы можете получить его из кода баннера. Для этого скопируйте предлагаемый код баннера в какой-нибудь текстовый редактор, а затем оттуда скопируйте ссылку на файл баннера.

								+e.item
									+e.row_1
										+e.btn-toggle Сколько я буду зарабатывать, участвуя в вашей партнерской программе?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Это зависит от многих факторов, таких как:
											UL
												LI Посещаемость веб-сайтов, где Вы размещаете о нас информацию;
												LI Соответствие тематики сайта той целевой аудитории, которая может заинтересоваться сервисом мониторинга обменников. Проще говоря, не стоит расчитывать на большое количество переходов по партнерской ссылке, размещенной на сайте, посвященном, например, разведению попугаев. Участие в партнерской программе подойдет в первую очередь тем, кто имеет выход на аудиторию в тех нишах, которые связаны с электронными деньгами, сайтостроением, инфобизнесом, фрилансом, программированием и другим подобным темам;
												LI Правильная подача информации. Например, мало кого привлечет одна лишь ссылка "обмен валют" без описаний где-нибудь в углу веб-страницы.

								+e.item
									+e.row_1
										+e.btn-toggle Сколько уровней в вашей партнерской программе? Оплачивается ли привлечение новых партнеров?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Наша партнерская программа трехуровневая:
											UL
												LI <b>1-й уровень.</b> Каждый посетитель, перешедший по Вашей партнерской ссылке и воспользовавшийся мониторингом, оплачивается в соответствии с основными правилами партнерской программы.
												LI <b>2-й уровень.</b> Если посетитель, числящийся за Вами зарегистрировался как партнер, то с каждой заказанной им выплатой партнерских средств Вы будете получать дополнительно 30% от заказанной суммы.
												LI <b>3-й уровень.</b> Если посетитель, числящийся за приведенным Вами партнером зарегистрировался как партнер, то с каждой заказанной им выплатой партнерских средств Вы будете получать дополнительно 10% от заказанной суммы.

								+e.item
									+e.row_1
										+e.btn-toggle Если я поставлю свою партнерскую ссылку в подпись на форуме, будут ли учитываться переходы и все остальные условия ПП?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Да, переходы учитываться будут.

								+e.item
									+e.row_1
										+e.btn-toggle Будут ли учитываться переходы пользователей, если я буду рекламировать свою партнерскую ссылку в чатах Skype, WhatsApp, Viber, ICQ и т.п.?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Нет, такие пользователи за партнером учитываться не будут, т.к. в нашей партнерской программе учитываются только те переходы, которые были осуществлены с какого-либо сайта.

								+e.item
									+e.row_1
										+e.btn-toggle На моем сайте уже установлены другие партнерские программы. Могу ли я быть вашим партнером?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Да, можете. У нас нет ограничений на работу с другими партнерскими программами.

								+e.item
									+e.row_1
										+e.btn-toggle Я использую сокращатель ссылок, чтобы скрыть партнерскую ссылку. В этом нет нарушения?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Использование сокращателей для партнерских ссылок не является нарушением. Но мы не рекомендуем использовать сервисы сокращения ссылок т.к. проблема может возникнуть в другом – некоторые из них заменяют параметр "referer" на адрес сокращенной ссылки либо вовсе не передают этот параметр. Таким образом становится неизвестно с какого сайта перешел посетитель. Сервисы сокращения ссылок, которые заменяют параметр "referer" находятся у нас в черном списке, поэтому переходы по таким ссылкам учитываться не будут. В случае, когда сокращатель не передает "referer", такие переходы также засчитаны не будут.

								+e.item
									+e.row_1
										+e.btn-toggle Подходит ли мой сайт для участия в партнерской программе?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Мы приветствуем любые сайты, которые не противоречат условиям нашей партнерской программы. Посмотреть список условий можно  <a target="_blank" href="/partner/rules">здесь</a> (пункт 7).

								+e.item
									+e.row_1
										+e.btn-toggle Я уверен, что по моей ссылке перешло несколько человек, но деньги за них начислены не были. Почему?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Мы приветствуем любые сайты, которые не противоречат условиям нашей партнерской программы. Посмотреть список условий можно  <a target="_blank" href="/partner/rules">здесь</a> (пункт 7).

											P Исходя из наших <a target="_blank" href="/partner/rules">условий</a>, можно составить следующий список возможных причин, по которым Ваши посетители не были оплачены:
											UL
												LI С IP-адреса Вашего посетителя уже совершался переход на наш сайт по чей-либо партнерской ссылке (не Вашей) в течение последних 365 суток.
												LI Посетитель перешел по Вашей ссылке и сразу же ушел с сайта. Начисления за посетителей начинаются со второй посещенной страницы сайта. В любом случае, в браузер посетителя, пришедшего по Вашей патнерской ссылке, устанавливается cookie с вашим партнерским идентификатором. Этот посетитель будет числиться за Вами, и его повторное посещение сайта (даже без перехода по партнерской ссылке) будет оплачиваться.
												LI Браузер привлеченного Вами посетителя не передает параметр "referer". Заметьте, этот параметр также не будет передаваться, если партнерская ссылка была введена в браузер вручную (без клика по партнерской ссылке).
												LI Посетитель пришел с сайта, занесенного в черный список нашей партнерской программы (посетители с таких сайтов не оплачиваются). С причинами, по которым сайты попадают в наш список неоплачиваемых можно ознакомиться на странице с <a target="_blank" href="/partner/rules">условиями</a> (пункт 7).
												LI Посетитель перешел на сайт лишь для получения бесплатного бонуса. Такие посетители нам малоинтересны, поэтому не стоит рекламировать бесплатные бонусы на нашем сайте с использованием партнерской ссылки.


								+e.item
									+e.row_1
										+e.btn-toggle Что означает статистика "Прямые переходы" и "С сайтов из черного списка"?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P В нашей партнерской программе не учитываются переходы пользователей без параметра "referer", а также если переход был совершен с заблокированного ранее сайта. Примеры возможных случаев:

											UL
												LI Браузер привлеченного Вами посетителя не передает параметр "referer".
												LI Партнерская ссылка была введена пользователем в адресную строку браузера вручную, без клика по ссылке.
												LI Переход по партнерской ссылке был произведен не из браузера, а, например, из какого-либо мессенджера или иного приложения.
												LI Переход пользователя был произведен с сайта, который запрещает передачу параметра "referer" (например, указан специальный meta-тег).
												LI Использовался ссылочный сокращатель, который не передает "referer", либо заменяет реальный "referer" исходной страницы на адрес сокращенной ссылки.
												LI Пользователь перешел с сайта, занесенного в черный список нашей партнерской программы. С причинами, по которым сайты попадают в наш список неоплачиваемых можно ознакомиться на странице с <a target="_blank" href="/partner/rules">условиями</a> (пункт 7).


								+e.item
									+e.row_1
										+e.btn-toggle Я перешел по своей партнерской ссылке с другого компьютера, но количество переходов в моем аккаунте не изменилось. Почему?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Мы оставляем за собой право не засчитывать и не оплачивать те переходы, которые считаем недействительными (накрученные переходы). Не стоит пытаться увеличивать начисления, переходя по свой ссылке с другого компьютера, или просить знакомых "просто перейти по моей ссылке". Такие переходы ради накрутки статистически легко вычислимы и не будут засчитаны. В целом не засчитывается небольшой процент от общего числа переходов и на заработки партнеров, которые не пытаются обмануть, он не оказывает значительного влияния.


								+e.item
									+e.row_1
										+e.btn-toggle Как вы отслеживаете накрутчиков среди партнеров?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Большинство видов накрутки определяется нашей системой автоматически и администратору выдается список подозрительных партнеров. По каждому случаю администратор разбирается отдельно. Кроме того, при выплатах партнерам каждый аккаунт проверяется на предмет накруток. Для этого у нас есть вся необходимая статистика.


								+e.item
									+e.row_1
										+e.btn-toggle Не могу войти в свой аккаунт партнера. Пишет "Неверное сочетание логина и пароля". Что делать?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Убедитесь, что при вводе пароля у Вас не включена русская раскладка клавиатуры или Caps Lock. Если Вы точно помните только логин, воспользуйтесь функцией <a target="_blank" href="/forgot">Напоминания пароля</a>. Пароль будет выслан на Ваш e-mail, указанный при регистрации.


								+e.item
									+e.row_1
										+e.btn-toggle Как выплачиваются заработанные деньги?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Партнерские выплаты производятся через платежные системы Perfect Money (USD, EUR), Payeer (USD, EUR, RUB), Яндекс.Деньги, QIWI (USD, EUR, RUB), Bitcoin, Advanced Cash (USD, EUR, RUB), PayPal (USD) по выбору партнера. После подачи заявки на выплату, в течение 5 рабочих дней Ваш аккаунт будет проверен нашим администратором на наличие попыток накрутки. Не беспокойтесь, если выплата Вашего партнерского вознаграждения затянулась – администратор видит все заявки и обработает Вашу в любом случае.


								+e.item
									+e.row_1
										+e.btn-toggle Почему заблокирован мой партнерский аккаунт?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Наш администратор блокирует аккаунты, по которым замечает явное создание фиктивного потока переходов. Нам нет смысла блокировать порядочных участников партнерской программы, т.к. нам выгодно привлечение реального трафика с помощью партнеров. Но именно реального трафика, платить же за фиктивный мы не можем себе позволить, т.к. для нас это убыток. Других причин для блокировки партнерского аккаунта не бывает. Восстановление аккаунта невозможно – решение о блокировке является окончательным во всех случаях. Дальнейшая работа с такими партнерами (накрутчиками) нам не интересна.



								+e.item
									+e.row_1
										+e.btn-toggle Можно ли ставить партнерские ссылки, ведущие сразу на список обменников определенного направления (https://www.polchange.ru/wmz-to-wmr.html?p=9784)?
										+e.I.icon_toggle.fa.fa-angle-down
									+e.row_2
										+e.box-toggle 
											P Да, такой вид ссылок возможен, мы даже его <a target="_blank" href="/partner/generate">рекомендуем</a>, но при одном условии – текст ссылки должен соответствовать странице, на которую Вы ссылаетесь. Пример:
											+e.TEXTAREA.textarea <a target="_blank" href="https://www.polchange.ru/wmz-to-wmr.html?p=9784">Лучшие курсы обмена WMZ на WMR</a>