extends ../../layout/root
block title 
	title Doc title
block meta_k 
	meta(name="keywords" content="meta_k .........text")
block meta_d 
	meta(name="description" content="meta_d ......text")

block main
		.container
			+b.content
				+e.col_1
					+b-sidebar_left-2()

				+e.col_2
					+b.MAIN.main
						// nav
						+b-nav_main()
						+b.text-box
							+e.title Рекламные flash и gif-баннеры

							+b.banner-code
								+e.title Баннеры формата 468x60
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/468x60/468x60-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/468x60/468x60-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/468x60/468x60-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/468x60/468x60-2.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/468x60/468x60-3.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/468x60/468x60-3.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/468x60/468x60-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/468x60/468x60-4.jpg"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/468x60/468x60-5.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/468x60/468x60-5.jpg"></a>


							+b.banner-code
								+e.title Баннеры формата 728x90
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/728x90/728x90-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/728x90/728x90-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/728x90/728x90-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/728x90/728x90-2.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/728x90/728x90-3.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/728x90/728x90-3.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/728x90/728x90-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/728x90/728x90-4.jpg"></a>


							+b.banner-code
								+e.title Баннеры формата 300x100
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/300x100/300x100-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/300x100/300x100-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/300x100/300x100-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/300x100/300x100-2.gif"></a>
									
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/300x100/300x100-3.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/300x100/300x100-3.gif"></a>
									
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/300x100/300x100-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/300x100/300x100-4.jpg"></a>
									
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/300x100/300x100-5.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/300x100/300x100-5.jpg"></a>
									
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/300x100/300x100-6.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/300x100/300x100-6.jpg"></a>


							+b.banner-code
								+e.title Баннеры формата 200x80
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/200x80/200x80-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/200x80/200x80-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/200x80/200x80-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/200x80/200x80-2.gif"></a>
									
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/200x80/200x80-3.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/200x80/200x80-3.gif"></a>
									
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/200x80/200x80-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/200x80/200x80-4.jpg"></a>



							+b.banner-code
								+e.title Баннеры формата 100x100
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/100x100/100x100-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/100x100/100x100-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/100x100/100x100-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/100x100/100x100-2.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/100x100/100x100-3.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/100x100/100x100-3.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/100x100/100x100-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/100x100/100x100-4.jpg"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/100x100/100x100-5.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/100x100/100x100-5.jpg"></a>



							+b.banner-code
								+e.title Баннеры формата 200x200
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/200x200/200x200-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/200x200/200x200-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/200x200/200x200-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/200x200/200x200-2.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/200x200/200x200-3.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/200x200/200x200-3.jpg"></a>




							+b.banner-code
								+e.title Баннеры формата 120x600
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/120x600/120x600-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/120x600/120x600-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/120x600/120x600-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/120x600/120x600-2.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/120x600/120x600-3.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/120x600/120x600-3.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/120x600/120x600-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/120x600/120x600-4.jpg"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/120x600/120x600-5.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/120x600/120x600-5.jpg"></a>




							+b.banner-code
								+e.title Баннеры формата 160x600
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/160x600/160x600-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/160x600/160x600-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/160x600/160x600-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/160x600/160x600-2.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/160x600/160x600-3.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/160x600/160x600-3.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/160x600/160x600-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/160x600/160x600-4.jpg"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/160x600/160x600-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/160x600/160x600-4.jpg"></a>


							+b.banner-code
								+e.title Баннеры формата 240x400
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/240x400/240x400-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/240x400/240x400-1.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/240x400/240x400-2.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/240x400/240x400-2.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/240x400/240x400-3.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/240x400/240x400-3.gif"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/240x400/240x400-4.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/240x400/240x400-4.jpg"></a>

								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/240x400/240x400-5.jpg").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/240x400/240x400-5.jpg"></a>



							+b.banner-code
								+e.title Баннеры формата 336x280
								+e.item
									+e.img-box
										+e.IMG(src="/img/banner/336x280/336x280-1.gif").img
									+e.TEXTAREA.textarea <a target="_blank" href="#link"><img src="/img/banner/336x280/336x280-1.gif"></a>