extends ../../layout/root
block title 
	title Doc title
block meta_k 
	meta(name="keywords" content="meta_k .........text")
block meta_d 
	meta(name="description" content="meta_d ......text")

block main
		.container
			+b.content
				+e.col_1
					+b-sidebar_left-2()

				+e.col_2
					+b.MAIN.main
						// nav
						+b-nav_main()
						+b.text-box_gradient
							+e.H1.title Условия участия в партнерской программе
							+e.text Регистрируясь на сайте мониторинга обменников BestChange.ru в качестве партнера, вы подтверждаете свое полное согласие с настоящими правилами и обязуетесь их соблюдать.

							+b.UL.list-box_rules-partner
								+e.LI.item_no-num 1. Начисления и выплаты по партнерской программе ведутся в валюте USD. Вывод партнерских средств доступен на выбор в электронных валютах Perfect Money (USD, EUR), Bitcoin, PayPal (USD), Яндекс.Деньги, QIWI (USD, EUR, RUB), Payeer (USD, EUR, RUB), Anvanced Cash (USD, EUR, RUB).
								+e.LI.item_no-num 2. Минимальная сумма для снятия заработанных денег с партнерского счета составляет <b>$1,00</b>.
								+e.LI.item_no-num 3. За каждого привлеченного вами <b>уникального</b> пользователя вы можете получить до <b>$0,50+</b>.
								+e.LI.item_no-num 3.1. Оплата за одного пользователя складывается из нескольких отдельных начислений:


									+e.UL.list
										+e.LI.item Первое посещение привлеченного пользователя – 
											+e.SPAN.text_green $0,04

								+e.LI.item_no-num Если привлеченный вами пользователь:
									+e.UL.list
										+e.LI.item воспользовался мониторингом обменников, вы получаете  
											+e.SPAN.text_green $0,01 
											SPAN x 9;

										+e.LI.item возвратился на сайт через 3 дня, вы получаете 
											+e.SPAN.text_green $0,02

										+e.LI.item возвратился на сайт через 7 дней, вы получаете 
											+e.SPAN.text_green $0,03

										+e.LI.item возвратился на сайт через 14 дней, вы получаете 
											+e.SPAN.text_green $0,04

										+e.LI.item возвратился на сайт через 30 дней, вы получаете 
											+e.SPAN.text_green $0,06

										+e.LI.item возвратился на сайт через 60 дней, вы получаете 
											+e.SPAN.text_green $0,09

										+e.LI.item возвратился на сайт через 90 дней, вы получаете 
											+e.SPAN.text_green $0,13

										+e.LI.item зарегистрировался как партнер, вы получаете  
											+e.SPAN.text_green 30% от 
											SPAN его дохода в нашей системе;

										+e.LI.item зарегистрировался как партнер и привлек еще одного партнера, вы получаете  
											+e.SPAN.text_green 10% от 
											SPAN дохода последнего в нашей системе.

								+e.LI.item_no-num 3.2. Указанные значения партнерских вознаграждений могут быть со временем изменены. При этом все заработанные средства сохраняются на счете с учетом действовавших ранее ставок.

								+e.LI.item_no-num 4. Пользователь не считается уникальным (не учитывается системой), если:
									+e.UL.list
										+e.LI.item с его IP-адреса уже совершался переход на наш сайт по такой же партнерской ссылке в течение последних 3-х месяцев;
										+e.LI.item его браузер не передает параметр адреса страницы, с которой был совершен переход;
										+e.LI.item он не заинтересован в использовании сервиса;
										+e.LI.item он перешел на наш сайт только ради получения "бесплатного бонуса";
										+e.LI.item переход совершил сам партнер.

								+e.LI.item_no-num 5. Партнерам <b>запрещается</b> переходить по своим собственным партнерским ссылкам, либо просить других пользователей переходить по партнерским ссылкам, либо использовать любые другие виды накруток переходов.

								+e.LI.item_no-num 6.  На странице, где вы публикуете о нас информацию должно быть четко указано об услугах, предоставляемых нашим сервисом. Любой <b>обман</b> в описании, призывающий пользователя перейти по партнерской ссылке, приведет к <u>блокировке</u> партнерского аккаунта. В рекламных текстах <b>запрещаются</b> любые упоминания о наличии "бесплатных бонусов" на нашем сайте.

								+e.LI.item_no-num 7. <b>Запрещается</b> размещать партнерскую ссылку:
									+e.UL.list
										+e.LI.item <u>в системах активной рекламы (САР)</u>, платного просмотра рекламных писем, оплачиваемых заданий и подобных систем (
											+e.SPAN.text_red Seosprint, Socpublic, Wmmail, Vipip, Seo-fast, Wmpublic, Profitcentr, Greenstree, Fastprom, Webisida, Wmrfast, Wmrok, Vktarget, Vipip, Wm-seo 
											SPAN и многие другие);

										+e.LI.item на сайтах, пользующихся услугами сервисов из предыдущего пункта;
										+e.LI.item в системах контекстной рекламы, тизерных сетях, купли/продажи трафика (AdWords, Директ, Tak и т.п.);
										+e.LI.item в массовых рассылках писем (СПАМ), электронных сообщений в различных сервисах, социальных сетях;
										+e.LI.item на сайтах, принудительно открывающих окна браузера (в т.ч. дорвеи), либо открывающих сайт в скрытом фрейме;
										+e.LI.item на сайтах, созданных только ради рекламы реферальных ссылок;
										+e.LI.item на сайтах, распространяющих любые материалы, прямо или косвенно нарушающие законодательство РФ;
										+e.LI.item на веб-страницах, публикующих списки сайтов с "бесплатными бонусами" и "BTC-кранами" (вы можете добавить наш сайт в подобный список, но ссылка при этом не должна быть партнерской);
										+e.LI.item на веб-страницах, закрытых от публичного просмотра. Например, закрытые группы и страницы в социальных сетях, закрытые разделы форумов и т.п.

								+e.LI.item_no-num Сайты, нарушающие вышеперечисленные правила, будут занесены в черный список нашей партнерской программы. Оплата за пользователей, пришедших с подобных сайтов производиться не будет.

								+e.LI.item_no-num 8. При несоблюдении условий партнерской программы аккаунт нарушителя будет заблокирован без выплат и объяснения причин.

								+e.LI.item_no-num 9. При <u>подозрении в накрутке</u> партнерской программы (создании фиктивного потока переходов) администратор оставляет за собой право:

									+e.UL.list
										+e.LI.item запрашивать у партнера <u>скриншоты</u> размещенных рекламных материалов;

										+e.LI.item запрашивать доступ к <u>статистике посещений</u> сайтов, на которых были размещены рекламные материалы;

										+e.LI.item <u>блокировать аккаунт</u> партнера, подозреваемого в накрутке, <u>без выплат и объяснения причин</u>.

								+e.LI.item_no-num 10. Партнер несет полную ответственность за сохранность своих аутентификационных данных (логина и пароля) для доступа к аккаунту.

								+e.LI.item_no-num 11. При регистрации в партнерской программе партнер автоматически подписывается на рассылку "Новости партнерской программы". При необходимости партнер может отказаться от этой подписки в разделе "Профиль" в своем партнерском аккаунте.

								+e.LI.item_no-num 12. Данные условия могут изменяться в одностороннем порядке без оповещения участников программы, но с публикацией на этой странице.