mixin b-social-btn(mod)
	+b.social-btn(class='_' + mod)
		+e.list
			+e.item_tw
				+e.A.link(href="#").fa.fa-twitter
			+e.item_gg
				+e.A.link(href="#").fa.fa-google
			+e.item_fb
				+e.A.link(href="#").fa.fa-facebook
			+e.item_yb
				+e.A.link(href="#").fa.fa-youtube
			+e.item_instagram
				+e.A.link(href="#").fa.fa-instagram
			+e.item_vk
				+e.A.link(href="#").fa.fa-vk
			+e.item_rss
				+e.A.link(href="#").fa.fa-rss