extends ../layout/root
block title 
	title Doc title
block meta_k 
	meta(name="keywords" content="meta_k .........text")
block meta_d 
	meta(name="description" content="meta_d ......text")

block main
		.container
			+b.content
				+e.col_1
					+b-sidebar_left-1()

				+e.col_2
					+b.MAIN.main
						// nav
						+b-nav_main()
						
						// text
						+b.text-box_gradient
							+e.H1.title Бонусы
							+b-form_purse()