extends ../layout/root
block title 
	title Doc title
block meta_k 
	meta(name="keywords" content="meta_k .........text")
block meta_d 
	meta(name="description" content="meta_d ......text")

block main
		.container
			+b.content
				+e.col_1
					+b-sidebar_left-2()

				+e.col_2
					+b.MAIN.main
						// nav
						+b-nav_main()
						
						// text
						+b.text-box_gradient
							+e.H1.title Партнерская программа
							+e.P.text Мониторинг обменников Polchange.ru предлагает вам поучаствовать в партнерской программе по привлечению посетителей. Зарегистрировавшись в нашей партнерской программе, вы будете получать до $0.50 за каждого привлеченного клиента на сайт Polchange.ru. 

							+e.P.text После регистрации вы получите на выбор большое количество различных промо-материалов (тексты, баннеры, скрипты и прочее), что максимально упростит вашу работу. Все, что потребуется – это приглашать посетителей на наш сайт, размещая промо-материалы на своих домашних страницах, блогах, форумах, сервисах вопросов и ответов, досках объявлений и на других ресурсах. Ваша ссылка будет содержать уникальный код, который позволит определить, что посетитель пришел по ссылке именно от вас.

							+e.P.text Наша партнерская программа будет наиболее выгодна для владельцев сайтов с высокой посещаемостью, продающих или рекламирующих товары и услуги, оплачиваемые электронными деньгами. Чем большему количеству людей вы посоветуете наш мониторинг обменников, тем больше вы заработаете в нашей партнерской программе. В вашем партнерском аккаунте будет доступна полная информация о количестве посетителей, пришедших по вашей ссылке, а также о начисленных за них партнерских вознаграждений. Смотрите обзорное <b>(видео - вставка ролика от Вольнова)</b> о работе партнерской программы.

							+e.P.text Для ознакомления с внутренним устройством партнерского аккаунта вы можете выполнить вход, используя в качестве логина и пароля <b>"demo - вставить ссылку на автоматическую авторизацию"</b>.

							+e.H1.title Регистрация партнера
							+e.P.text Для начала участия в партнерской программе, пройдите на страницу регистрации и заполните простую форму. При регистрации вам будет необходимо ознакомиться с условиями работы и принять партнерское соглашение.

							+e.H1.title Вход для партнеров
							+e.P.text Если вы уже являетесь зарегистрированным партнером нашего мониторинга обменников, выполните вход, используя форму авторизации <b>вставить форму авторизации</b>

							// form_login
							+b-form_login()