mixin b-footer()
	+b.FOOTER.footer
		.container
			+e.row
				+e.item
					+e.A(href="#").link Правила для обменников
				+e.item
					+e.SPAN.text Связь: 
					+e.A(href="mailto:support@polchange.ru").link support@polchange.ru